* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App_connection {
  width: 100%;
  background-color: aqua;
  margin: 0;
  text-align: right;
}

.App_connection span {
  width: 100%;
  margin-right: 20px;
  font-style: italic;
  color: red;
  font-weight: 500;
}

.App_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App_main {
    flex-direction: column;
  }
  .buy {
    width: 60%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}